{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<!-- Статическая навигационная панель -->
	 <nav class="navbar navbar-default navbar-static-top">
 <div class="container">

 <div class="navbar-header">
	 <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
    </button>
    	 <a class="navbar-brand" href="{% url 'index' %}">Learning Log</a>
     </div>
    
    	 <div id="navbar" class="navbar-collapse collapse">
    	 <ul class="nav navbar-nav">
    	 <li><a href="{% url 'topics' %}">Темы</a></li>
     </ul>
    
    	 <ul class="nav navbar-nav navbar-right">
     {% if user.is_authenticated %}

        <li><a>Здравствуйте, {{ user.username }}</a></li>
        <li><a href="{% url 'user:logout' %}">Выйти</a></li>
     {% else %}
        <li><a href="{% url 'user:register' %}">Регистрация</a></li>
        <li><a href="{% url 'user:login' %}">Войти</a></li>
     {% endif %}
    	 </ul>
     </div><!--/.nav-collapse -->
     </div>
     </nav>
     <div class="container">
        <div class="page-header">
       	 {% block header %}

         {% endblock header %}
        </div>
        <div>
       	 {% block content %}

         {% endblock content %}
        </div>
        </div>
        <style>
          
         .wrapper{
             min-height: 100%;
             display: flex;
             flex-direction: column;
         }
         
         .container{
             background: #F8F8F8;
         }
         .footer__title{
             height: 80px;
             text-align: center;
             padding-top: 30px; 
             color: #777777;
         }
         </style>
         
         <body>
             <div class="wrapper">
                 <header class="header"></header>
                 <main class="main"></main>
                 <footer class="footer">
                     <div class="container">
                         <h2 class="footer__title">
                             Powered by scri0x
                         </h2>
                     </div>
             </div>
             </footer>
</body>
</html>